
#phone {
    background: rgba(242, 242, 242,0.5);
    border-radius: 20px;
    left: 0;
    margin: 10px auto 0;
    padding: 70px 0px 45px 18px;
    position: absolute;
    right: 0;
    width: 240px;
    -moz-box-shadow:    inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow:         inset 0 0 1px #000000;
}

#phone:before {
    background: rgba(242, 242, 242,0.5);
    border-radius: 20px;
    content: '';
    height: 6px;
    width: 6px;
    left: 0;
    margin: -35px auto;
    position: absolute;
    right: 0;
   -moz-box-shadow:    inset 0 0 1px #000000;
   -webkit-box-shadow: inset 0 0 1px #000000;
   box-shadow:         inset 0 0 1px #000000;
}


#screen {
    background: #d6e6e9;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    overflow: hidden;
    padding: 0;
    position: relative;
    height: 278px;
    width: 205px;
    margin-top: -15px;
    margin-bottom: -10px;
}

.viewport {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    background: #0000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.first {
    z-index: 2;
    left: 0;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotateY(0deg);
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotateY(0deg);
}
.cardPhone{  
    text-align: center;
    float: center;
    padding-top: 15% !important;
    padding-bottom: 15% !important;
  }
@media screen and (min-width:414px ), screen and (min-height:667px ){
    #screen {
        height: 410px;
        width: 303px;
    }
    .cardPhone{  
        padding-top: 17% !important;
        padding-bottom: 17% !important;
    }

    #phone {
        width: 340px;
    }
}


